<div class="col-12 text-center col-md-6 order-md-4 text-md-start col-lg-3 order-lg-4 text-lg-center">
    <h4 class="ui inverted header">Nous contacter</h4>

    <div class="row g-2 mb-4">
       <div> Multimedia services</div>
       <div> 7 bd de la gare</div>
       <div> 22600 LOUDEAC</div>
       <div> Bretagne</div>
       <div> 0745510816</div>
    </div>

</div>
