{% extends '@SyliusAdmin/layout.html.twig' %}

{% block content %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <div {{ react_component('MyComponent', { 'fullName': 'YoanDev' }) }}></div>
</div>
{% endblock %}
